body {
    font-family: 'Times new roman', sans-serif;
    overflow: hidden;
}

.loginframe {
    width: 100vw;
    height: auto;
    object-fit: cover;
    display: block;

}

.logo {
    height: 15vh;
    width: 17vh;
}