.hero-section {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.hero-header {
    display: flex;
    margin-top: -100px;
}

.hero-logo {
    width: 160px;
    margin-right: 1.5rem;
}

.hero-title-bold {
    font-size: 2.5rem;
    font-weight: bold;
    color: #111;
    letter-spacing: 1px;
}

.hero-title-sub {
    font-size: 1.5rem;
    font-weight: 500;
    color: #222;
}



.hero-content h2 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}



@media (max-width: 900px) {
    .hero-header {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 1rem;
    }

    .hero-logo {
        width: 110px;
    }

    .hero-title-bold {
        font-size: 1.5rem;
    }

    .hero-title-sub {
        font-size: 1rem;
    }

    .hero-content h2 {
        font-size: 1.3rem;
    }
}